
<article class="post">
    <div class="title">
        <a href="/post/{{id}}">{{title}}</a>
        <p class="meta">
        Posted by {{user.username}} on {{format_date created_at}}
        </p>
    </div>
    <div>
        <p>{{post_text}}</p>
    </div>
</article>